---
import Tailwind from "../components/icons/Tailwind.astro";
import NextJS from "../components/icons/NextJS.astro";
import JavaScript from "../components/icons/JavaScript.astro";
import HTML from "../components/icons/HTML.astro"
import CSS from "../components/icons/CSS.astro"

const TAGS = {
    
    NEXT: {
        name: "Next.js",
        class: "bg-black text-white",
        icon: NextJS,
    },
    
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },

    JAVASCRIPT: {
        name:"JavaScript",
        class: "bg-yellow-400/60 text-white",
        icon: JavaScript,

    },

    HTML: {
        name:"HTML",
        class: "bg-orange-400/60 text-white",
        icon: HTML,

    },

   CSS: {
        name:"CSS",
        class: "bg-blue-400/60 text-white",
        icon: CSS,

    },
};
const PROJECTS = [
    {
        title: "Una aplicación en desarrollo y proyectos visuales",
        description:
            "Tenemos previsto trabajar en ello durante estos meses que quedan en crear un aplicación mundial audiovisual para los turistas sobre museos y el Mercado de Abastos y más.",
        link: "https://svgl.vercel.app/",
        github: "https://github.com/SamuelSalazar25",
        image: "/projects/svgl.webp",
        tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
    },
];
---

{
    PROJECTS.map(({ image, title, description, tags }) => (
        <article>
            <h3 class="text-2xl font-semibold text--200 mb-2 text-blue-300">{title}</h3>
            <p class="text-lg mb-4 text-pretty font-normal text-gray-300 dark:text-gray-400">{description}</p>
            <ul class="flex gap-x-4 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-3`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                    
                ))}
            </ul>
            <img
                class="rounded shadow-2xl shadow-white/5"
                src={image}
                alt={`Captura de pantalla del proyecto ${image}`}
            />
        </article>
    ))
}
